[2021-05-26 04:22] bennothommo opened #1 "Allow users to create a project on website through installer"
Won't be available for the initial release of the installer, but for the future...

We should add a prompt as part of the installer to allow the user to create a project for their install within the Marketplace. This would need to use @LukeTowers [Passport plugin](https://github.com/wintercms/wn-passport-plugin) to provide an Oauth-based authentication protocol and provide a token provider through

[2021-06-16 16:10] bennothommo opened #2 "Support for different languages"
The installer should be welcoming to people of all languages, so we should at some point implement support for some internationalization of the content of the installer.

While apply i18n to the PHP side should be easy enough, the Vue side might be more tricky, although there's a great i18n plugin available for Vue - https://kazupon.github.io/vue-i18n/.

[2021-06-16 16:20] bennothommo opened #3 "Improve tab indexing"
While the fields in the Configuration area are able to be tabbed through, it would be worth making it so that tabbing the last field on each of the sections (Site, Database, Administrator) takes you to the next tab immediately.

[2021-06-16 16:22] bennothommo opened #4 "Automatically create SQLite database file if it does not exist"
For people using SQLite, currently the installer requires the SQLite file to be available before installation. We could potentially allow for the SQLite file to be automatically create before trying to install.

[2021-06-16 16:28] bennothommo opened #5 "Retry database connection if database details change"
When getting to the "Final Checks" step, if the database connection fails, the most likely course of action is for the user to go back to the Configuration step and correct their DB info.

When they go back to the "Final Checks" step, it will show the DB connection as still having failed, as the result is cached (although there is a button to "Re-run the checks"). We should automatically try the D

[2021-06-16 22:04] LukeTowers commented on #2
I think I've used the following code before to make backend translations available to the vue plugin:
[code]

[code]

[2021-06-17 00:23] bennothommo commented on #2
@LukeTowers ah yeah, I remember you showing me that once before. That'd work nicely!

[2021-06-17 09:36] LukeTowers opened #6 "Installer UX enhancements"
- [ ] Prepopulate the site URL value with the location of the current document
- [ ] Perform validation on each configuration step before proceeding to the next step
- [ ] Provide example path for the default sqlite path so that it's more obvious whether a relative path or an absolute path are expected
- [ ] Don't require all the "Admin" detail fields to be filled out (double check what WP require

[2021-06-18 10:39] bishopm opened #8 "php.exe.globals blocked by host [SOLVED]"
Keen to try out the web installer but my shared host blocked the upload of the install.zip file with the following message:

{HEX}php.exe.globals.418.UNOFFICIAL FOUND

[2021-06-18 11:06] bennothommo commented on #8
@bishopm this is most certainly a false positive. I've seen this same "virus" reported on many other PHP projects such as Drupal, SuiteCRM, and others.

If you can, you should disable the virus scan for this file.

Is there any indication on which file inside the .zip file it believes is a virus?

[2021-06-18 11:14] mjauvin commented on #8
Also, try uploading with FTP or sftp maybe?

[2021-06-18 11:27] jaxwilko commented on #3
@bennothommo I noticed this issue too, I haven't got a fix for it but in my `ui`  branch I added `tabindex="-1"` to the step-links so that tabbing off the end of the form wouldn't place make the introduction step-link active making it look like the installer just reset itself. For sure needs a proper solution though

[2021-06-18 20:39] RomainMazB opened #9 "Allow to change the database charset/collation config"
When using PostgreSQL, the default charset is `utf8` and not `utf8mb4`, this cause the database connection to be unable to run on PostgreSQL installation.

[This laracast thread](https://laracasts.com/discuss/channels/laravel/migration-error-on-heroku-productionerror-sqlstate22023-invalid-parameter-value-7-error-invalid-value-for-parameter-client-encoding-utf8mb4?page=1) and [this SO thread](https

[2021-06-18 21:41] mjauvin commented on #9
Ok, so what you *actually* mean is that currently, the installer uses "utf8mb4" but SHOULD be using "utf8" as the charset/collation.

[2021-06-18 22:12] RomainMazB commented on #9
Yes, at least for PostgreSQL database.
I've looked at both laravel's and winter's default database config, and it's already like I said:
- [MySQL defaults to utf8_mb4](https://github.com/wintercms/winter/blob/develop/config/database.php#L65)
- [PostgreSQL defaults to utf8](https://github.com/wintercms/winter/blob/develop/config/database.php#L81)

I guess the reason is the same. I've made a PR to f

[2021-06-18 22:26] mjauvin commented on #4
fixed by https://github.com/wintercms/web-installer/commit/0172c03b65a14b7324ba0c9b127c3cea645e56ae

[2021-06-18 22:26] #4 closed

[2021-06-19 07:21] bishopm commented on #8
I couldn't pick up which file was triggering the alert, but was able to install successfully by uploading via FTP. Thanks for the help

[2021-06-19 08:05] bennothommo commented on #8
@bishopm good to hear!

[2021-06-19 08:06] #8 closed

[2021-06-19 18:20] Dione-stack opened #11 "error occurred while trying to install Winter CMS via Web Installer"
I get this error at the end of the installation and i'm not able to fix it

Sorry, but an error has occurred while trying to install Winter CMS.
DirectoryIterator::__construct(C:\Windows\Temp\.composer,C:\Windows\Temp\.composer): Access is denied. (code: 5)

I followed the instructions and I have given full control to all subfolders and files, please help

[2021-06-20 12:40] bennothommo commented on #9
Fixed by #10.

[2021-06-20 12:40] #9 closed

[2021-06-20 12:51] bennothommo commented on #11
@Dione-stack I have pushed a potential fix for this - it appears to be a Windows pathing issue.

I will release a new beta release of the Web installer shortly.

[2021-06-20 15:46] Dione-stack commented on #11
Let me know when the Web installer is updated so i can retry, and thank you

[2021-06-21 02:05] bennothommo commented on #11
@Dione-stack could you try the fix directly? There's a couple of things I want to finalise before doing another release.

You can simply take the following code change (https://github.com/wintercms/web-installer/commit/9c82259b016115118760e578d8e44e422a29e27a) and replace the red highlighted lines with the green highlighted lines in the `install/api/src/Api.php` file of the installer files.

[2021-06-21 03:09] Dione-stack commented on #11
I updated the Api.php file as you suggested, but after running the installation, the same error occurred

[2021-06-21 03:13] Dione-stack commented on #11
Actually it's not the same error...

previous error:
DirectoryIterator::__construct(C:\Windows\Temp.composer,C:\Windows\Temp.composer): Access is denied. (code: 5)
current error:
DirectoryIterator::__construct(C:\Windows\Temp\.composer,C:\Windows\Temp\.composer): Access is denied. (code: 5)

[2021-06-21 03:15] bennothommo commented on #11
@Dione-stack that looks like the same error to me? :P

I haven't got a Windows box currently to test it on, but the path it's showing looks strange - the path should be `C:\Windows\Temp\.composer`, not `C:\Windows\Temp.composer`.

[2021-06-21 03:17] Dione-stack commented on #11
yes it says C:\Windows\Temp\.composer instead of C:\Windows\Temp.composer in the current error

[2021-06-21 03:19] bennothommo commented on #11
@Dione-stack apologies, but am I missing something? Those are the same paths.

[2021-06-21 03:21] Dione-stack commented on #11
trust me i don't know why either, github changes it when i post it, weird

[2021-06-21 03:22] bennothommo commented on #11
@Dione-stack no probs - could you screenshot it for us?

[2021-06-21 03:25] Dione-stack commented on #11
[https://www.mediafire.com/view/m69qsa4ffpqcw6h](here)

[2021-06-21 03:25] Dione-stack commented on #11
[screenshot](https://www.mediafire.com/view/m69qsa4ffpqcw6h)

[2021-06-21 03:28] bennothommo commented on #11
@Dione-stack thanks for that, so it is doing the correct path but it's still blocking you due to permissions. I think the fix here is to set up the Composer cache within the same path we are installing to, since you would've already fixed the permissions there. I'll try look into that shortly.

[2021-06-21 04:34] Dione-stack commented on #11
Looks like it's going to take some time, i will check back tomorrow and see if you found a solution

[2021-06-22 15:34] nathanlesage opened #12 "Add an `.htaccess` or rename `install.html` to `index.html`"
Heya,

just tried out the web installer and technically it works flawlessly. There is one aesthetic improvement, though: It would be great if users were able to access the web installer by only visiting the domain itself, which could then redirect to the installer itself. Currently, if one doesn't append the `index.html` to the domain, Apache servers, for instance, deliver a directory listing.

I

[2021-06-22 17:15] Dione-stack commented on #11
@bennothommo Just to make it clear, there wasn't a previous and current error, it's the same error, simply i just don't know how to use github, i didn't know i had to use 'insert code' tool to be able to display a path correctly

with 'insert code' tool:
`C:\Windows\Temp\.composer`
without 'insert code' tool:
C:\Windows\Temp\.composer

Please delete this awkward and confusing issue, i will just wa

[2021-06-23 01:46] bennothommo commented on #11
@Dione-stack no worries, I'll close this for now with the message that it should hopefully be fixed in the next release. If the next release still exhibits issues, please feel free to re-open and let us know.

[2021-06-23 01:46] #11 closed

[2021-06-23 01:56] bennothommo commented on #12
@nathanlesage Thanks for your issue. The naming of the `install.html` file is intentional. It's to help prevent "drive-by" installations where an external user visits a URL at the same time that the installation files are available and potentially runs through the installation process accidentally or maliciously. By having this small extra step of adding `install.html` to the URL, it makes it more

[2021-06-23 08:25] nathanlesage commented on #12
I see the issue absolutely. However, I think chances are quite low that a drive-by installation might happen (nor that the `install.html` would prevent anything, especially since servers by default spit out directory listings — all that malicious actors would have to do is actually to click the filename).

However, in order to make it really secure, one cool thing would be to generate a security c

[2021-06-23 09:27] bennothommo commented on #12
If you can remember and link us to the example of someone employing this one-time password method, that would be awesome, just so I can see how others have done it.

I know that the `install.html` is by no means fool-proof, but it felt the best way to at least somewhat mitigate the issue, whilst still maintaining a simple process of installation. I want to avoid introducing more steps for people t

[2021-06-23 10:00] mjauvin commented on #12
Yeah, an empty index.html would work.

[2021-06-23 13:41] nathanlesage commented on #12
@bennothommo I don't remember it, was quite a while back, but I found that Neos.io does this: https://docs.neos.io/cms/installation-development-setup/running-the-setup-tool

In the end, it would absolutely suffice to generate 32 chars of random string using Laravel's random string helper (https://laravel.com/docs/8.x/helpers#method-str-random) and drop that into a TXT-file.

From a usability persp

[2021-06-23 15:22] bennothommo commented on #12
@nathanlesage thanks for that. It definitely is an interesting take on the installation process.

I feel that, on balance, having to get people to type in a password every install is probably one step too far, especially for people who have to install a large number of sites. Requiring people to have to type `install.html` at the end of their URLs is not a huge leap.

The `install.html` addition a

[2021-06-23 15:44] nathanlesage commented on #12
That's actually a good point. There are definitely valuable arguments against my idea. I still think it might be nicer to have everything redirect, but then that's down to purely subjective preference.

[2021-06-23 15:44] #12 closed

[2021-06-23 15:49] bennothommo commented on #12
Happy to re-open if you think of anything else that might sway us back the other direction :)

[2021-06-26 09:10] ovillani opened #13 "Webinstaller error "Unable to determine dependencies...""
By trying to install WN on a shared hosting server the process ends up in an error message saying "Unable to determine dependencies for Winter CMS. Your composer.json file is invalid." All checks before are fine and the error happens as soon as the install process says "installing dependencies". Error occurs by using MySQL as well as SQlite. Occurs too when all files are set to 777.

[2021-06-26 12:04] mjauvin commented on #13
can you attach the screenshot you had on discord?

[2021-06-26 12:56] ovillani commented on #13
Here it is from another try, this time trying SQLite as DB.

![Clipboard02](https://user-images.githubusercontent.com/6983432/123513589-49fdc500-d68e-11eb-9b22-18b20a7f4685.jpg)

[2021-06-26 16:16] bennothommo commented on #13
@ovillani could you provide a couple of details:

- Which PHP version are you using?
- Which operating system are you using?
- Is there a `.wintercms/composer.json` file inside your install directory? If so, are you able to provide us with the contents of this file?

[2021-06-27 08:16] ovillani commented on #13
sure,
- php 7.4.18
- debian 4.19.181

/.wintercms/composer.json is
<pre>
{
    "name": "wintercms/winter",
    "description": "Free, open-source, self-hosted CMS platform based on the Laravel PHP Framework. Originally known as October CMS.",
    "homepage": "https://wintercms.com",
    "type": "project",
    "keywords": ["winter", "cms", "wintercms", "laravel", "cmf"],
    "license": "MIT",
    "a

[2021-06-27 15:13] bennothommo commented on #13
@ovillani thanks - yeah that `composer.json` seems fine to me.

At this point in time, the "Your composer.json file is invalid" is a rather vague error which could mean a couple of things, but I'm working towards a new release of the installer that will have logging, which should give more context. In the mean time, you might have to do a Composer install for now.

[2021-06-27 15:55] ovillani commented on #13
Indeed, but this is the built in message ;)
So I looked for some more detailed info. What I found meanwhile:

The err seems to occurs in the **install\api\src\Api.php**   _function postInstallDependencies()_ at line 345
 <pre>
            $install = $composer->install(true);
</pre>

the previous line:
            $composer->setHomeDir($tmpHomeDir);
seems to be executed fine. But nevertheless the $

[2021-06-28 02:59] bennothommo commented on #13
@ovillani Ah, looks like you're affected by the same issue that was reported here: https://github.com/wintercms/web-installer/issues/11. The next release should hopefully resolve this.

Yes, I opted not to include this because it was a potentially risky setting if done incorrectly. We're using sensible defaults in the config, and it can still be modified that way if people wish.

[2021-06-28 06:47] ovillani commented on #13
Definitely understand your concerns about security. On the other hand, if these rights are granted only during the installation process, the risk is limited.
I'll try an (old) OC installation on this server with limited & extended rights today and will forward the results. Just to encircle the problem.

[2021-06-28 14:14] ovillani commented on #13
Ok, tried OC installation to compare with file permission 644 and folder permission 755. Works, but the usual ErrorException: Not finding services.php by first login attempt, 2nd login is ok - a problem reported repeatedly by some user at OC, but never was solved.
May ba a similar problem?

[2021-06-29 20:47] RomainMazB opened #14 "Can't install without a db password"
Hi,
a friend of me related me a weird issue: the web installer can't install winter without a db password, here is the screenshot.
![image](https://user-images.githubusercontent.com/53976837/123865195-e7c1f000-d92b-11eb-9cf5-044e63433917.png)

[2021-06-30 04:21] #14 closed

[2021-07-06 09:36] Turlin666 commented on #13
Hello
Same error and error screen, trying with:
- PHP 7.4.20 & 8.0.7
- CentOS 7.9.2009 ->  Plesk Obsidian v18.0.36 (Last updates and composer installed)
- MariaDB 5.5.68
-Same .wintercms/composer.json that @ovillani

[2021-07-06 15:39] bennothommo commented on #13
@ovillani @Turlin666 the next release will be coming out in the next few days which should hopefully resolve this. Even if it doesn't, it will have logging so we hopefully get some more context as to what is occurring.

[2021-07-07 09:40] ovillani commented on #13
Great! Will give it a try immediately then and keep you informed.

[2021-07-08 08:28] Turlin666 commented on #13
Thanks !!

[2021-07-23 14:44] AxDSan opened #16 "v1.0.0-beta1 Error: Unable to write config. Undefined index: pass"
I get the above error in my installation, everything seems to be working fine, all the steps are properly handled it just breaks when I get to the installation part...

![](https://i.imgur.com/rHCC1p8.jpeg)

[2021-07-23 16:43] RomainMazB commented on #16
@AxDSan Is your web-installer up to date?
I've fixed this issue few weeks ago https://github.com/wintercms/web-installer/pull/15

[2021-07-23 16:59] mjauvin commented on #16
duplicate of https://github.com/wintercms/web-installer/issues/14

[2021-07-23 16:59] #16 closed

[2021-07-26 02:26] bennothommo commented on #16
This fix is still pending for release, which is why it's still present.

[2021-08-12 13:31] #5 closed

[2021-08-12 13:49] #13 closed

[2021-08-12 14:52] ovillani commented on #13
@bennothommo Thanks a lot for keeping me informed! I can give it a try this weekend and report the results then.

[2021-08-12 16:17] lufog opened #17 "System Checks - Could't connect to the Winter CMS Marketplace API"
API Connection
Your server could not connect to the Winter CMS Marketplace API.

![image](https://user-images.githubusercontent.com/10379487/129231929-39bd6852-1b73-49e6-b113-2a2630a9db86.png)

If I forcibly skip checks, I get:

Sorry, but an error has occurred while trying to install Winter CMS.
Unable to download Winter CMS. Invalid HTTP code received - got 0

![image](https://user-images.github

[2021-08-12 21:59] mjauvin commented on #17
@lufog can you attach the `install.log` file that gets created in the installation folder?

[2021-08-12 23:38] lufog commented on #17
@mjauvin yes of course, here it is:
[code]

[2021-08-13 01:22] metismiao opened #18 "composer.json file is invalid"
![1628817271602](https://user-images.githubusercontent.com/40419327/129291247-bc5d3575-7bd7-4db3-9e0c-3f5838fa25ff.jpg)

same error message

and my PHP SETTINGS
UPLOAD LIMIT  512 MB
MEMORY LIMIT  512 MB

F.Y.I.

I wish I could do something..😞 pretty annoying when u have to stop your schedule if there is a problem

thank you still :)

[2021-08-13 02:07] mjauvin commented on #18
@metismiao can you attach the `install.log` file to this issue?

[2021-08-13 02:23] metismiao commented on #18
[install.log](https://github.com/wintercms/web-installer/files/6979520/install.log)

[2021-08-13 03:26] bennothommo commented on #17
@lufog Could you provide us with your `curl` extension settings in PHP? Perhaps just showing the `curl` section from a `phpinfo()` call?

[2021-08-13 03:41] bennothommo commented on #18
@metismiao Is this install happening on a shared server, or on your own server? Is it possible for you to give me access to run a couple of tests? You can DM on Discord if you wish.

[2021-08-13 10:28] lufog commented on #17
@bennothommo I have not changed these settings in any way, and all the values are there by default. Curl info:
<table>
<tbody>
<tr><td>cURL support </td><td>enabled </td></tr>
<tr><td>cURL Information </td><td>7.76.1 </td></tr>
<tr><td>Age </td><td>8 </td></tr>
<tr><td>Features </td></tr>
<tr><td>AsynchDNS </td><td>Yes </td></tr>
<tr><td>CharConv </td><td>No </td></tr>
<tr><td>Debug </td><td>No </

[2021-08-14 16:07] bennothommo commented on #18
I've been able to run tests on @metismiao's environment (thanks for the access!), and have been able to determine that the issue here is the result of two things:

1. In the [Packager](https://github.com/bennothommo/packager) library, the true error is being hidden and shows as "composer.json file is invalid", so this needs to be fixed, but more importantly...
2. The `proc_open` function is disabl

[2021-08-17 16:16] Turlin666 commented on #13
Same error for me again...
[install.log](https://github.com/wintercms/web-installer/files/7001497/install.log)

[2021-08-18 01:39] bennothommo commented on #13
@Turlin666 thanks for letting me know.

We believe we've worked out the cause. The issue is generally related to shared hosts blocking access to the `proc_open` method which is used for running external Composer actions, such as bringing in dependencies through Git, and extracting packages. This may also manifest if your shared hosting provider does not provide the `pcntl` PHP extension.

Unfortun

[2021-08-18 06:35] Turlin666 commented on #13
@bennothommo Anyway, thanks for the great job and the support, I have all the access to the server and I will try to work on this way

[2021-08-18 06:39] bennothommo commented on #13
@Turlin666 not a problem. If you have full access, are you able to let me know if the `proc_open` command is available for you (ie. it's not in the `disable_functions` configuration option in the PHP config), and that the `pcntl` extension is enabled? If both those points are true, then the issue you're encountering is somewhere else.

[2021-08-18 07:54] Turlin666 commented on #13
This is my
`disable_functions = pcntl_alarm,pcntl_fork,pcntl_waitpid,pcntl_wait,pcntl_wifexited,pcntl_wifstopped,pcntl_wifsignaled,pcntl_wifcontinued,pcntl_wexitstatus,pcntl_wtermsig,pcntl_wstopsig,pcntl_signal,pcntl_signal_get_handler,pcntl_signal_dispatch,pcntl_get_last_error,pcntl_strerror,pcntl_sigprocmask,pcntl_sigwaitinfo,pcntl_sigtimedwait,pcntl_exec,pcntl_getpriority,pcntl_setpriority,pcnt

[2021-08-18 08:45] bennothommo commented on #13
@Turlin666 looks like `pcntl` is disabled in that config above, by way of disabling all its functions.

[2021-08-18 09:50] Turlin666 commented on #13
@bennothommo Leaving the `disable_functions` line empty work for me, Thanks a lot

[2021-08-19 12:22] lzomedia opened #19 "Issue when no sql password is provided"
When I try to install and don't provide a sql password is not working.
I've already digg up the API class and it's like a require field.

[2021-08-19 14:13] bennothommo commented on #19
@lzomedia did you download the latest version of the installer? This has already been fixed: https://github.com/wintercms/web-installer/pull/15

[2021-08-23 09:29] xitara commented on #13
(I'm Manuel B. in discord)
In my case, installing and enabling pcntl hast no effect

These are my disabled functions in php.ini:

show_source,
highlight_file,
apache_child_terminate,
apache_get_modules,
apache_note,
apache_setenv,
virtual,
dl,
disk_total_space,
posix_getpwnam,
posix_getpwuid,
posix_mkfifo,
posix_mknod,
posix_setpgid,
posix_setsid,
posix_setuid,
posix_uname,
proc_nice,
openlog,
sys

[2021-08-23 14:06] LukeTowers commented on #13
@xitara can you provide your install.log file?

[2021-08-23 22:33] Domeman opened #20 "SQLite is used when Database Type is not changed from default MySQL/MariaDB selection"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

During the install of winter. The configuration, Database section has a combo box for Database Type defaulted to MySQL / MariaDB. When leaving the default selection MySQL / MariaDB it appears to default to SQLite and the install cannot pass the d

[2021-08-24 01:01] bennothommo commented on #20
@Domeman thanks for the report, but I cannot replicate this. The default database type is explicitly set to `mysql` (https://github.com/wintercms/web-installer/blob/main/src/Installer.vue#L82) so the only way it would be using `sqlite` is if the dropdown value were changed to `sqlite`.

Is there any other way to replicate this?

[2021-08-24 01:17] #19 closed

[2021-08-24 01:18] bennothommo commented on #17
@lufog This may be fixed by https://github.com/wintercms/web-installer/commit/da878769bdec9296d93e7d4ba954e3edbb0c0cee. Generally, a `0` being returned by the API call is the result of a failure to validate the SSL certificate of an API call.

We'll give this a try, but if it still fails, we may have to disable SSL verification like the October installer used to - I'm not a fan of that idea, but i

[2021-08-24 01:36] Domeman commented on #20
Using windows 10, Laragon. If I do not select a database then the Final Check for database fails.

[2021-08-24 01:39] Domeman commented on #20
watch: {
    'site.database.type': {
      handler(newVal, oldVal) {
        const defaultPorts = {
          mysql: 3306,
          pgsql: 5432,
          sqlsrv: 1433,
        };
        if (Number(this.site.database.port) === defaultPorts[oldVal] || oldVal === 'sqlite') {
          this.site.database.port = defaultPorts[newVal];
    To me and I am no Vue expert is if I do not change the combo t

[2021-08-24 02:11] bennothommo commented on #20
@Domeman that piece of functionality simply changes the port number if it's using a default port. That would have nothing to do with the selection of the database type.

[2021-08-24 23:36] lufog commented on #17
@bennothommo, I built `v1.0.0-beta4`, unfortunately the error persists. If in lines: 288-289, 1001-1002 change the parameters `CURLOPT_SSL_VERIFYPEER` and `CURLOPT_SSL_VERIFYHOST` to `false`, the installation proceeds without errors.

[2021-08-25 06:07] bennothommo commented on #17
@lufog while that may work, it's also disabling SSL validation, which is not really a good thing if you want to be sure that you're getting the installer files from the correct location.

Could you look into your logs and see if there's an error coming up, then post that as a new issue to the Winter repo. That's a separate issue to this one.

[2021-08-25 14:40] lufog commented on #17
@bennothommo

Maybe make SSL validation optional? For example, offering this option when the preferred method did not work.

I have already uninstalled the installation, but I will repeat the process, if the error persists, I will file a bug report.

[2021-08-30 18:26] lufog commented on #17
@bennothommo, I think since the problem has not been fixed, it would be good to reopen this issue, at least so that it is not forgotten.

[2021-08-31 03:50] bennothommo opened #21 "Check for existence of "dom" extension"
The `dom` extension is a requirement of Winter CMS through the Storm library and some packages, but is not being explicitly checked in the Installer.

We will need to ensure this extension is checked. We should also check for any other extensions that may not be being explicitly checked but are required.

[2021-09-01 03:42] LukeTowers commented on #21
@bennothommo what part of our codebase relies on it? We'll also need to add it to the /install page on the website and the documentation (including the oneliner to install all required extensions)

[2021-09-01 04:04] bennothommo commented on #21
@LukeTowers the only place I know it's definitely being used is in the Docs plugin, no idea where it is being used in core. However, it is a requirement of some packages that are brought in from Laravel, so Composer will fail without the extension.

[2021-09-02 17:13] eDave56 commented on #18
Would the error "Unable to parse JSON response" be the same root cause?
![image](https://user-images.githubusercontent.com/42411509/131842099-ffbfe64f-7c69-4491-900f-1686c56bcdf7.png)

[2021-09-12 17:10] tintong commented on #18
Hello,
I'm trying to give WinterCMS a try after OctoberCMS went to paid only.
I tried to do a fresh install of WinterCMS but I keep getting the same error message as above.

I can't find an "install.log" file on the server either.
My server is setup using RunCloud, but is solely used by me.
It's set to use PHP 7.4 and I've allowed every function that is specified on the website.
As a test I even t

[2021-09-13 06:34] bennothommo commented on #18
@tintong can you confirm you are using the latest version of the Installer? You can [download it here](https://github.com/wintercms/web-installer/releases/download/v1.0.0-beta3/install.zip)

Could you also confirm that you have the `pcntl` extension enabled - you should be able to verify it by running `phpinfo()` and ensure there is a section for `pcntl`.

[2021-09-13 07:42] tintong commented on #18
Hello,
Thanks for responding.
I downloaded the installer on Saturday 11th.
I can confirm pcntl is enabled.

[2021-09-13 07:53] bennothommo commented on #18
@tintong I saw your convo with @LukeTowers on Discord. We'd need an `install.log` to give us some further context into why the Installer didn't work. If it's not generating, then this is most likely a permissions issue. If you have enabled write access to the install directory and it's still not creating it, then you may need to review your PHP logs and see if there's something being reported ther

[2021-09-13 17:58] tintong commented on #18
@bennothommo I've tried this again, with a fresh install.
I had problems with trying to install WinterCMS using command line so had to upgrade Composer from version 1.x to 2.x.
But when I try and install WinterCMS with the installer, I'm getting the following error:

"Unable to determine dependencies for Winter CMS. The Composer home directory at path "/tmp/.composer" is not writable"

In the apac

[2021-09-13 19:21] tintong commented on #18
I've checked the permissions for the "/tmp/" folder and the user that runs the web installer has read and write access to the "/tmp/" folder.
I've also tested this via ssh.

[2021-09-14 00:45] bennothommo commented on #18
@tintong it looks like you are using the old version of the Installer. The latest version of the installer would place the Composer home directory within the installer's temporary install directory `.wintercms`, however, the first release of the Installer placed it in the `/tmp` directory.

The errors you are showing above also indicate that you would need to remove this `.wintercms` directory ins

[2021-09-14 00:47] bennothommo opened #22 "Delete temporary .wintercms directory if installation is re-run"
Should resolve PHP errors that can occur if the user re-runs the installation without removing the temporary installation directory.

See https://github.com/wintercms/web-installer/issues/18#issuecomment-918436991.

[2021-09-14 07:37] tintong commented on #18
@bennothommo Thanks. I'll download it again and try it, but I only downloaded the installed on Saturday (4 days ago) for the first time from your website.

[2021-09-14 07:54] bennothommo commented on #18
@tintong which page did you download it from? It might be that it's linking to the original version of the Installer.

[2021-09-14 12:15] tintong commented on #18
@bennothommo I'm still looking through my history for this, but I started reading this:
https://wintercms.com/blog/post/october-cms-you-know-it-dead
Then went to https://github.com/wintercms/winter/issues/5

I've uploaded the installer again and now I'm getting this:
![image](https://user-images.githubusercontent.com/50303078/133255430-af7894c9-5bc9-452f-92d0-9c7867e9a5d7.png)

I'm actually gettin

[2021-09-14 15:03] LukeTowers commented on #18
@tintong can you check your browser dev tools to see if there's any errors in the console or network tabs? That looks like somethings going wrong processing the responses from the server on the client side Vue app.

[2021-09-15 17:04] tintong commented on #18
@LukeTowers I've checked the dev tools and no errors in network tab:
![image](https://user-images.githubusercontent.com/50303078/133477404-d548108c-8c21-4d12-8837-56769d23175d.png)

This is all I can see for the Console tab, not sure if that is do with the installer though as I've not even got to the bit where I can input the database password and admin password.

![image](https://user-images.gith

[2021-09-15 17:05] tintong commented on #18
@LukeTowers I've noticed the following error coming up for PHP though now:
[Wed Sep 15 17:02:56.568488 2021] [proxy_fcgi:error] [pid 26721:tid 140593959245568] [client 86.151.173.149:0] AH01071: Got error 'PHP message: PHP Notice:  curl_setopt_array(): CURLOPT_SSL_VERIFYHOST no longer accepts the value 1, value 2 will be used instead in /home/nodesp/webapps/app-wintercms/install/api/src/Api.php on

[2021-10-08 03:53] bennothommo commented on #18
@metismiao @tintong would you mind trying Beta 5 of the Installer and see if that works on your shared hosting: https://github.com/wintercms/web-installer/releases/download/v1.0.0-beta5/install.zip

[2021-10-08 07:09] bennothommo commented on #20
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2021-10-08 07:09] #20 closed

[2021-10-11 01:53] bennothommo commented on #17
Hi all, sorry it has taken so long for us to look into this.

While I feel that it is best that we DO check the SSL certificate, since ultimately, an invalid SSL certificate means that the delivery of the correct files is no longer garunteed and leaves users susceptible to man-in-the-middle checks - I do understand that some people have configurations or environments where the SSL certificate cann

[2021-10-19 08:22] vitsafarik commented on #18
I have own VPS and ISPCONFIG is installed on it. Same error message if i used standart installer. I tried a new beta, and that works! Thx

[2021-10-20 01:55] bennothommo commented on #18
No problem @tintong - thanks for letting me know!

[2021-11-24 13:00] bvj opened #25 "Error: Unable to parse JSON response"
Using web installer i am getting:

[code]
I have set max_execution_time to 360, but it did not helped.

[2021-12-14 04:45] bennothommo commented on #25
@bvj sorry for the delay in responding.

Do you have a `install.log` file that we can review?

[2021-12-14 07:22] bvj commented on #25
Now tried last installer and finished OK.

[2021-12-14 07:22] #25 closed

[2022-01-29 19:29] stareu commented on #25
I have the same error.
I tried to increase `max_execution_time` in php.ini and tried the latest version from [here](https://github.com/wintercms/web-installer/releases/tag/v1.0.0).
It didn't help.

My install.log:
[code]

[2022-01-29 19:54] stareu commented on #25
More exact info in DevTools:

[code]

[2022-01-29 22:03] LukeTowers commented on #25
What version of PHP are you trying to use @stareu?

[2022-01-30 00:49] bennothommo commented on #25
@stareu Winter CMS is currently not compatible with PHP 8.1, due to the underlying Laravel version not supporting it. We will be deploying a new branch of Winter with Laravel 9 which will support it, but until then, you will need to use PHP 7.4 or 8.0.

[2022-01-30 00:53] bennothommo opened #26 "Use Winter's PHP version constraints from Composer"
The installer should use the version constraints of PHP from its composer.json when doing the PHP version compatibility check, in order to account for cases such as Winter CMS 1.1 not supporting PHP 8.1.

[2022-01-30 10:19] stareu commented on #25
@bennothommo @LukeTowers
Thank you!
It was PHP 8.1.2.
I reinstalled XAMPP with PHP 8.0.15 and it helped!

[2022-03-28 18:24] joho1968 opened #27 "Installer pre-checking"
I ran into some similar problems to those in #13 with a fresh installation archive. I think many of these could be avoided if some installer pre-checking was added. Specifically in this case, I think the installer pre-check should include:

- curl_exec() must be enabled
- allow_url_fopen() must be enabled

And in any case, this message: "Unable to determine dependencies for Winter CMS. Your compos

[2022-03-28 18:30] joho1968 opened #28 "Post-install additions to .htaccess"
Just my two cents:

Add a re-write rule to .htaccess in your post-installation code that re-directs /install.html and /install/ to the starting page.

[2022-06-18 13:17] bennothommo commented on #28
Sorry for the delay in responding to this @joho1968.

The installer removes the `install.html` file and `install` directory at the end of the installation - see https://github.com/wintercms/web-installer/blob/main/public/install/api/src/Api.php#L667-L676, so a rewrite rule wouldn't be needed. I don't think it would be a good idea to have an arbitrary rule in the `.htaccess` for this, especially on

[2022-06-18 13:17] #28 closed

[2022-06-18 13:19] bennothommo commented on #27
Some good ideas here @joho1968 - we'll definitely look into them for future versions.

[2022-07-29 17:10] ovillani opened #29 "Installer does not support Versions 1.2"
Unfortunately the web-installer does not support WN 1.2 for new installation.
So to use WN1.2 AND web based installation one will still have to use composer - that's often not available in hosting environments.

Updating /install/api/src/Api.php to
[code]
helps to overcome the initial checks, but I stuck finally at installation with the error message:
    **Sorry, but an error has occurred while t

[2022-07-29 23:49] bennothommo commented on #29
@ovillani yeah, I have the same issue with more or less the same fixes on my dev copy. I'm still looking into it.

[2022-07-31 14:57] LukeTowers commented on #29
@bennothommo the immediate issue is fixed in https://github.com/wintercms/web-installer/commit/f124a63c3239aa2d42e87f77371b4b60c7d55ae5 but the underlying issue is probably the inclusion of env() calls in the default config in 1.2. We might have to update the ConfigWriter logic to use the ArrayFile parsing added in 1.2 instead.

[2022-07-31 14:58] LukeTowers commented on #29
We could potentially break out that functionality into its own package so that Storm and the installer can share the same code (and it might be useful for other Laravel projects).

[2022-08-01 03:30] bennothommo commented on #29
@LukeTowers yeah I was thinking that. I'd rather not copy and paste if we can avoid it, since it'll miss out on any future work to it.

[2022-08-01 08:31] bennothommo commented on #29
I have pushed a new release of the Winter web installer that now installs Winter 1.2.
https://github.com/wintercms/web-installer/releases/tag/v1.2.0

You can download the following ZIP to get started:
https://github.com/wintercms/web-installer/releases/download/v1.2.0/install.zip

[2022-08-01 08:31] #29 closed

[2022-08-01 10:04] ovillani commented on #29
Great news, THX to you all !
Would you mind to post it in the discord news section. Think it's woth it :)

[2022-08-02 01:00] bennothommo opened #30 "Configure new sites using environment variable file"
Currently, the web installer writes configuration values to the config files. Since these are kept in source control, we should try and configure the site using the environment variable file (`.env`).

We had attempted this with the Winter 1.2 update to this system, but for some reason, it was failing at the config stage - perhaps because environment variables are cached in some way, so if we atte

[2022-11-04 18:32] dynamiccontent opened #31 "Unable to determine dependencies for Winter CMS. Invalid version string "v1.2.x-dev abbdbb7""
Debian GNU/Linux 11 (bullseye)
PHP 8.2.0RC5
10.9.3-MariaDB-1:10.9.3+maria~deb11 mariadb.org binary distribution
nginx version: nginx/1.23.2
php-fpm 8.2

install.log

[code]
![wintercms](https://user-images.githubusercontent.com/56940608/200050059-e4507bac-d79f-4fb4-bd39-260815c67297.png)

[2022-11-06 19:24] LukeTowers commented on #31
@dynamiccontent we haven't run any tests on PHP 8.2, try switching to 8.1 instead?